[Unit]
Description=Simple systemd service for progetto-sdcc application setup

[Service]
Type=simple
EnvironmentFile=/home/ec2-user/go/src/env
WorkingDirectory=/home/ec2-user/go/src
ExecStart=/bin/bash /home/ec2-user/go/src/progetto-sdcc/node/run.sh
ExecStartPre=/usr/bin/git clone --branch=jacopo https://www.github.com/danilo-dellorco/progetto-sdcc /home/ec2-user/go/src/progetto-sdcc/
ExecStartPre=/usr/bin/sleep 10

[Install]
WantedBy=multi-user.target

#1) copiare il servizio progettosdcc.service in /etc/systemd/system
#2) avviare il servizio: 
	#sudo systemctl daemon-reload
	#sudo systemctl start progettosdcc.service
	#sudo systemctl enable progettosdcc.service
